<div id="<%= dom_id record %>">
  <!--<p>
    <strong>Card:</strong>
    <#%= record.card_id %>
  </p>-->

  <p>
    <strong>Doctor:</strong>
    <%= record.dock_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= record.pat_id %>
  </p>

  <!--<p>
    <strong>Conclusion:</strong>
    <#%= record.conclusion %>
  </p>-->

</div>
