<h1>Chat#show</h1>
<!-- <p>Find me in app/views/chat/show.html.erb</p> -->
<div id="chat">
  <div id="messages">
    <!-- Messages will be appended here by JavaScript -->
  </div>
  <input id="chat-message" type="text">
  <button id="send-message">Send</button>
</div>
<script src="/app/javascript/channels/chat_channel.js"></script>